* {
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 1.5;
   color: rgba(96, 125, 139, 1);
}
 html, body {
   height: 100%;
}
 .page-content {
   height: 100%;
   text-align: center;
}
 .page-content:before {
   content: "";
   display: inline-block;
   height: 100%;
   width: 0;
   vertical-align: middle;
}
 .credit-form {
   display: inline-block;
   width: 545px;
   padding: 10px;
   text-align: initial;
   vertical-align: middle;
}
 .form-header {
   margin-bottom: 20px;
}
 .form-header__slogan {
   margin: 0;
   text-align: center;
   font-weight: 400;
   font-size: 2em;
}
 .payment-form {
   width: 100%;
   height: auto;
}
 .payment-form__group {
   float: left;
   margin-bottom: 10px;
   padding: 0 10px;
}
 .payment-form__group-small {
   width: 35%;
}
 .payment-form__group-medium {
   width: 65%;
}
 .payment-form__group-normal {
   width: 50%;
}
 .payment-form__group-large {
   width: 100%;
}
 .payment-form__label {
   width: 100%;
   margin-bottom: 10px;
   display: block;
}
 .payment-form__input {
   border-radius: 5px;
   border: 1px solid #ccc;
   outline: none;
   line-height: 1.8;
   padding: 0 0.5em;
   width: 100%;
}
 .payment-form__input:focus {
   box-shadow: 0 0 0 1px rgba(33, 150, 243, 1);
}
 .payment-form__select {
   padding: 10px;
   outline: none;
}
 .payment-form__select:focus {
   box-shadow: 0 0 0 1px rgba(33, 150, 243, 1);
}
 .payment-form__pic-container {
   text-align: right;
   line-height: 0;
}
 .payment-form__pic {
   position: relative;
   bottom: -18px;
   width: 78px;
   height: 75px;
}
 .payment-form__button {
   width: 100%;
   padding: 10px;
   border-radius: 10px;
   color: white;
   cursor: pointer;
   background-color: rgba(76, 175, 80, .5);
   border: none;
   outline: none;
   box-shadow: 3px 5px rgba(33, 150, 243, 1);
   position: relative;
}
 .payment-form__button:hover {
   background-color: rgba(76, 175, 80, .7);
}
 .payment-form__button:active {
   background-color: rgba(76, 175, 80, 1);
   top: 4px;
   box-shadow: none;
}
 @media (max-width: 544px) {
   .credit-form, .payment-form__group-small, .payment-form__group-medium, .payment-form__group-normal, .payment-form__group-large {
     width: 100%;
  }
   .payment-form__pic-container {
     text-align: left;
  }
}
 