<link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext">
<link rel="stylesheet" type="text/css" href="css/home.css">

<script>
  const token = localStorage.getItem('jwt');
        if(!token){
            window.location.href = '/login';
        }
</script>

<!-- navbar -->
<nav class="navbar">
  
  <div class="container">
    
    <h1 class="logo"><a href="#">Travel Agency</a></h1>
    <ul class="nav nav-right">
      <li><a href="/">Home</a></li>
      <li><a href="/destinations">Destinations</a></li>
      <li><a href="#" id="logoutButton">Logout</a></li>
    </ul>
  </div><!--/.container-->
  
</nav><!--/.navbar-->
<style>
body {
  background-image: url('images/slika3.jpg');
}
</style>

<script>
  const logoutButton = document.querySelector('#logoutButton');
  logoutButton.addEventListener('click', (event) => {
    event.preventDefault();
    localStorage.setItem('jwt', '');
    window.location.href = '/login';
  });
</script>